/* -------------------------------------------

fonts

------------------------------------------- */

$font-1: var(--font-tertiary), sans-serif;
$font-2: var(--font-primary), sans-serif;
$font-3: var(--font-secondary), cursive;

/* -------------------------------------------

colors

------------------------------------------- */

$m1: #1D1D1D;
$m2: #737373;
$m3: #F7F7F7;
$m4: #FFFFFF;

$a: #FF4C33;

/* -------------------------------------------

transition

------------------------------------------- */

$tsm: .2s cubic-bezier(0, 0, 0.3642, 1);
$tmd: .4s cubic-bezier(0, 0, 0.3642, 1);
$tlg: .6s cubic-bezier(0, 0, 0.3642, 1);
$txl: .8s cubic-bezier(0, 0, 0.3642, 1);